@media (max-width:480px) {

      /* Center the loader */
      #loader {
        left: 40%;
        top: 40%;
      }

    .text-side {
        padding-top: 0px;
    }

    .contact-bg h2 {
        font-size: 32px;
      }

      .contact-bg p {
        font-size: 15px;
      }

      .contact-bg {
        min-height: 280px;
      }
    
}